<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="../backend/index.js"></script>
    <meta name="author" content="gr1_eq7"/>
    <title>Index</title>
  </head>

  <body>
	<%- include ../views/header.ejs %>
    <h1>Index</h1>
  </body>
</html>
