<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="../backend/newIssue.js"></script>
  <meta name="author" content="gr1_eq7"/>
  <title>Liste de mes projets</title>
</head>

<body>
  <br>
  <form action="/createIssue?projectId=<%= projectId%>" method="post" id="create-issue">
    <div class="form-group">
      <label>Nom : <input id="issueName" type="text" name="issueName"></label> <br>
      <label>Description : <input id="issueDescription" type="text" name="issueDescription"></label> <br>
      <label>Priorité : <input id="issuePriority" type="text" name="issuePriority"></label> <br>
      <label>Difficulté : <input id="issueDifficulty" type="text" name="issueDifficulty"></label> <br>
    </div>
      
    <button type="submit" class="btn btn-primary" id="createNewIssue" form="create-issue">Créer Issue</button>
  </form>
</body>
</html>