<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="../backend/newTest.js"></script>
  <meta name="author" content="gr1_eq7"/>
  <title>Nouveau test</title>
</head>

<body>
  <%- include ../views/partials/header.ejs %>
  <br>
  <form action="/createTest" method="post" id="create-test">
    <div class="form-group">
      <label>Nom : <input id="testName" type="text" name="testName"></label><br>
      <label>Description de la fonction à tester : <input id="testDescription" type="text" name="testDescription"></label> <br>
      <label>Résultats attendus : <input id="testResult" type="text" name="testResult"></label><br>
      <label>Dernière version validée: <input id="testValidVersion" type="text" name="testValidVersion"></label><br>

      <label>Ajouter une issue liée au test :<input id="issueIdToAdd" name="issueIdToAdd"></label>
      <button type="submit" class="btn btn-primary" formaction="/addIssueTest">Ajouter</button>
      
      <ul id="listIssuesTest">Liste des issues liée au test : <%= listIssuesTest.length %>
        <% listIssuesTest.forEach(issue => { %>
          <li><%= issue.id + ' : ' + issue.name %>
            <form action="/removeIssueTest" method="post" id="remove">
              <input type="text" name="issueIdToRemove" class="form-control" value="<%= issue.id %>" hidden>
              <button type="submit" class="btn btn-primary" formaction="/removeIssueTest">Supprimer</button>
            </form>
          </li>
        <% }); %>
      </ul>
    </div>
      
    <button type="submit" class="btn btn-primary" id="createNewtest" form="create-test">Créer Projet</button>
  </form>
</body>
</html>